@{
    ViewData["Title"] = "Contact";
}

<div class="container mt-2">
    <h5 class="text-center">Contato</h5>
    <div class="row justify-content-center align-items-center mt-4">
        <div class="col text-right">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d467692.0489139792!2d-46.875500738171276!3d-23.68153143651388!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce448183a461d1%3A0x9ba94b08ff335bae!2sS%C3%A3o%20Paulo%2C%20State%20of%20S%C3%A3o%20Paulo!5e0!3m2!1sen!2sbr!4v1632688192468!5m2!1sen!2sbr" width="380" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col">
            <div class="row mt-1">
                <div class="col">
                    <p>
                        <strong>Email</strong><i class="fas fa-envelope-square ml-2"></i><br />
                        <a href="marcelovvrodrigues@gmail.com">marcelovvrodrigues</a>
                    </p>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <p>
                        <strong>Github</strong><i class="fab fa-github-square ml-2"></i><br />
                        <a href="https://github.com/MarceloRodrigues7">MarceloRodrigues7</a>
                    </p>
                </div>
            </div>
            <div class="row mt-1">
                <div class="col">
                    <p>
                        <strong>LinkedIn</strong><i class="fab fa-linkedin ml-2"></i><br />
                        <a href="https://www.linkedin.com/in/marcelovvrodrigues/">marcelovvrodrigues</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>